.gtree {
	padding: 0;

	&-path-delimiter {
		font-size: 0.5em;
	}

	&-node {
		background-color: #fff;
		border-left: solid 1px #090;
		padding: 4px;
	}
	&-body {
		opacity: 0.3;
		padding: 4px;
	}
	&-node.gtree-current {
		border-color: #f00;
	}
	&-node.gtree-current > &-body {
		background-color: #fee;
		text-decoration: underline;
	}
	&-node.gtree-path > &-body {
		opacity: 1;
	}
	&-children {
		padding: 4px;
	}
}
