.gtree {
	&-node {
		display: table;
	}
	&-body {
		display: table-cell;
	}
	&-children {
		display: table-cell;
	}
	&-node.gtree-collapsed &-children {
		&::before {
			content: "...";
		}
		> * {
			display: none;
		}
	}
}
